<a href="https://colab.research.google.com/github/luferIPCA/MIA-MLA-25-26/blob/main/Practice_1_2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Masters' in Applied Artificial Intelligence
## Machine Learning Algorithms Course

Notebooks to solve Practice 1 Exercise

by [*lufer*](mailto:lufer@ipca.pt)

ver (3.0)

---

# Practice 1.2 - Handling Datasets

*   This practice explores the main considerations about Datasets
*   Main python related topics and concepts are also explored.


**Contents**:

0. **Environment preparation**
1.   **Python and Data (II)**
2.   **Handling Exercise Questions**
3.   **References**

## 0. Environment preparation

Importing necessary libraries

Mount google drive

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
#mounting google drive
from google.colab import drive

# it will ask for your google drive credentiaals
drive.mount('/content/MIAADrive/', force_remount=True)

Mounted at /content/MIAADrive/

## 1 - Python and Data (II)

Datasets are sets o data to be used on models training. A dataset can have *Continous* values (quantities); *Categorical* values (fixed list values) or *Text* values.

### Create a Dataset from a CSV file

In [ ]:
filePath="/content/MIAADrive/MyDrive/Colab Notebooks/MIAA - ML - 2025-2026/Datasets/"

In [ ]:
#option 3
dataset = pd.read_csv(filePath+'DadosPractice1.csv')
#dataset is a dataframe

In [ ]:
dataset.head()

In [ ]:
#type(dataset)
dataset.dtypes

After read, the dataset is a Dataframe python type.

DataFrame is like Excel-like Data.

###Save a Dataset to file

In [ ]:
# Save the dataset to a CSV file
dataset.to_csv(filePath+'sales_dataset.csv', index=False)

### Datasets and Dataframes

Working with datasets in ML involves many functions, like:

*len(), shape, axes, index, values, info(), head(), tail(), drop(), iloc()*

**Number of records in the dataframe**

In [ ]:
#remenber
#option 3
dataset = pd.read_csv(filePath+'car_sales.csv')

#Note, if csv is tab separated
#dataset = pd.read_csv(filePath+'data.csv', sep='\t')

#Check the diference with
#dataset = pd.read_csv(filePath+'data.csv', index_col='id')

#dataset is a dataframe

In [ ]:
#number of records in the dataframe
len(dataset)

10

In [ ]:
ds=dataset.copy()
ds.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

**Dataframe Structure (rows x columns)**

In [ ]:
#Structure (rows x columns) of the dataframe
ds.shape

(10, 5)

**Dataframe Axis (0 and 1)**

In [ ]:
ds.axes
#RangeIndex = lines
#Index = columns

[RangeIndex(start=0, stop=10, step=1),
 Index(['Make', 'Colour', 'Odometer', 'Doors', 'Price'], dtype='object')]

In [ ]:
#Columns
ds.axes[1]

Index(['Make', 'Colour', 'Odometer', 'Doors', 'Price'], dtype='object')

In [ ]:
#what does dataset.axes[0]?

In [ ]:
dataset.index
#gives the row labels...1 to 1000 in this case!

RangeIndex(start=0, stop=10, step=1)

In [ ]:

#returns the underlying data as a NumPy array
dataset.values

array([['Toyota', 'White', 150043.0, 4.0, '$4,000'],
       ['Honda', 'Red', 87899.0, 4.0, '$5,000'],
       ['Toyota', 'Blue', nan, 3.0, '$7,000'],
       ['BMW', 'Black', 11179.0, 5.0, '$22,000'],
       ['Nissan', 'White', 213095.0, 4.0, '$3,500'],
       ['Toyota', 'Green', nan, 4.0, '$4,500'],
       ['Honda', nan, nan, 4.0, '$7,500'],
       ['Honda', 'Blue', nan, 4.0, nan],
       ['Toyota', 'White', 60000.0, nan, nan],
       [nan, 'White', 31600.0, 4.0, '$9,700']], dtype=object)

In [ ]:
#what does this code?
import numpy as np

np.set_printoptions(suppress=True)  # turns off scientific notation
print(dataset.values)

[['Toyota' 'White' 150043.0 4.0 '$4,000']
 ['Honda' 'Red' 87899.0 4.0 '$5,000']
 ['Toyota' 'Blue' nan 3.0 '$7,000']
 ['BMW' 'Black' 11179.0 5.0 '$22,000']
 ['Nissan' 'White' 213095.0 4.0 '$3,500']
 ['Toyota' 'Green' nan 4.0 '$4,500']
 ['Honda' nan nan 4.0 '$7,500']
 ['Honda' 'Blue' nan 4.0 nan]
 ['Toyota' 'White' 60000.0 nan nan]
 [nan 'White' 31600.0 4.0 '$9,700']]

**First 10 records**

In [ ]:
#first 10 records
dataset.head()

**Last 10 records**

In [ ]:
#last 10 records
dataset.tail()

**Details about each column of the dataset**

Count of *Data type* and *Non-Null* values *Texto em itÃ¡lico*

In [ ]:
#Details about each column
dataset.info()

Indexing just the rows

In [ ]:
#first column
dataset.iloc[0]

In [ ]:
#first line (line 0)
dataset.iloc[[0]]

In [ ]:
dataset.iloc[[0, 1]]

With a slice object

In [ ]:
dataset.iloc[:3]

Indexing lines and columns (both indexes)

In [ ]:
dataset.iloc[0,1] #iloc[row,column]

In [ ]:
#lines from 1 to 3 and first 3 columns
dataset.iloc[1:3, 0:3]

In [ ]:
#all
dataset.iloc[:, :]

Droping data

In [ ]:
dataset.drop(['blue', 'four_g'], axis=1)
#or
#dataset.drop(columns=['blue, 'four_g'])
#or
#dataset.drop(['blue', 'four_g'], axis='columns')

In [ ]:
pd.set_option("display.precision", 2)

### Basic Statistics over a Dataset

Basic statistics with 'describe()'

1. For Numeric Columns (default behavior):

* It provides summary statistics such as:
 * Count: The number of non-missing values.
 * Mean: The average of the values.
 * Std: The standard deviation (measure of spread).
 * Min: The smallest value.
 * 25%: The first quartile (25th percentile).
 * 50%: The median (50th percentile).
 * 75%: The third quartile (75th percentile).
 * Max: The largest value.
2.  For Non-Numeric Columns (if specified using include='all' or include=object):

* It provides:
 * Count: The number of non-missing values.
 * Unique: The number of unique values.
 * Top: The most frequent value.
 * Freq: The frequency of the top value.

3. **Key Notes about 'describe()'**
* Non-numeric data is ignored unless explicitly included using include.
* The method helps quickly identify:
 * Missing data (count vs. total rows).
 * Outliers (e.g., large differences between min, max, and mean).
 * Skewness (if the mean and median differ significantly).

 * **Default Percentiles**: percentiles=None computes the 25th,  50th, and 75th percentiles by default.
* **Default Inclusion**: exclude=None includes numeric columns only, unless explicitly overridden.
* Explicit Parameters:
 * Use percentiles to customize which percentiles to compute.
 * Use include='all' to analyze both numeric and non-numeric columns.
 * Use exclude to omit specific data types (e.g., exclude=[float]).

In [ ]:
#see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html
#by default
dataset.describe()
#what happens with
#dataset.describe(include='all')
#How do you explain it?

**DataFrame.describe(percentiles=None, include=None, exclude=None)**
* percentiles normal (25%, 59%, 75% (default)
* include only numeric values (default)
* exclude NaN values (default)

In [ ]:
#"None" is the default...means consider only numerical values
dataset.describe(percentiles=None, exclude=None)

Considering the percentiles of *battery_power* column:

*   (25%) - 25% of the records have the value 895 or below
*   (50%) - 50% of the records have the value 1246.5 or below
*   (75%) - 75% of your records have the value 1629.25 or below

In [ ]:
dataset.describe(include='all')



---


Practice: Explore the simple Lab

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3, 4, 5], 'B': [np.nan, 20, 30, 40, 50], 'C': ['a', 'b', 'c', 'd', 'c']}
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
#basic statistics for numerical only
print(df.describe())

In [ ]:
df.describe(include='all')



---

In [ ]:
#What it does?
df.describe(percentiles=None, exclude=None)

#and this
df.describe(percentiles=[0.1, 0.9])

**Statistical calculus for a particular column**

*Count number of non-NA/null observations.*

In [ ]:
dataset['battery_power'].count()

*Maximum of the battery_power values*

In [ ]:
dataset['battery_power'].max()

*Mean of the battery_power values*

In [ ]:
dataset['battery_power'].mean()

*Minimum value of battery_power*

In [ ]:
dataset['battery_power'].min()

*Median of battery_power column*

In [ ]:
dataset['battery_power'].median()

*Check how may occurences for each value of a particulaar column*

In [ ]:
dataset['battery_power'].value_counts()

*Select part of the columns*

In [ ]:
dataset[['battery_power','dual_sim']]

*Details about part of the columns*

In [ ]:
dataset[['battery_power','dual_sim']].describe(include="all")

*Details about a partivular column*

In [ ]:
dataset.battery_power.describe()

### Considering columns of type *objet* (text)

By default, only numeric values are considered. To analyse objects columns (text values) use "*dataset.describe(include=object)*"

*Example of Dataframe with objects:*

In [ ]:
df = pd.DataFrame({'gender': pd.Categorical(['Male', 'Female', 'Others']),
                   'quantity': [12, 25, 3],
                   'symbol': ['M', 'F', 'O']
                   })
df

*By default omly numerical values are described*

In [ ]:
df.describe()

*Describing all columns of a DataFrame regardless of data type*

In [ ]:
df.describe(include="all")

*Including only string columns in the DataFrame description.*

In [ ]:
df.describe(include=object)
#or
df.describe(include=[object])

*Excluding numeric columns from a DataFrame description.*

In [ ]:
df.describe(exclude=[np.number])

*Including only numeric columns in the DataFrame description.*

In [ ]:
df.describe(include=[np.number])

*Only Categorical columns*

In [ ]:

df.describe(include=['category'])

*Excluding object columns from a DataFrame description.*

In [ ]:
df.describe(exclude=[object])

### Filtering Data

The idea it to *get filtered data* for any criterium.

Column value greater than...

In [ ]:
#Back to original dataset
newdf = dataset.copy()
newdf = dataset.query('battery_power>1000')
newdf

Filtering one column and compare with another

In [ ]:
newdf.loc[newdf["battery_power"] >1500, "clock_speed"].value_counts()

Complex filtering

In [ ]:
newdf[(newdf["clock_speed"] < 1) & (newdf["dual_sim"] ==1)].groupby(\

    ["battery_power", "mobile_wt","clock_speed"])["int_memory"].count()

*Calculus over filtered data*

In [ ]:
dataset.groupby('dual_sim').sum()

In [ ]:
dataset.groupby('dual_sim').count()

In [ ]:
dataset.groupby("dual_sim", sort=False)["n_cores"].sum()

## 2 - Handling the Exercise Questions
### 1. Load the dataset

Car Sales Datatset

In [ ]:
# load the data
filePath="/content/MIAADrive/MyDrive/Colab Notebooks/MIAA - ML - 2025-2026/Datasets/"
ds = pd.read_csv(filePath+"car_sales.csv")
# ds = pd.read_csv(url)
# ds.head()

#download from a github url
#the link must pooint for the "raw version" of the intended file
#ds1 = pd.read_csv('https://raw.githubusercontent.com/luferIPCA/MIA-MLA-23-24/master/Exercises/Ex3-DatasetsManipulation/ExampleDataset/test.csv')
#ds1

### 2.	Check its shape! Create manually a new dataframe with similar shape

In [ ]:
ds.shape

*Dataframe* is a 2-dimension data structure. *Series* is a one dimension!

In [ ]:
#Review:
#create a series (array)
marks = pd.Series(["Toyota","Ford","Fiat","Mazda", "BMW"])
#marks
colours = pd.Series(["Red","Red","Blue","Green","White"])
#colours"

In [ ]:
#create manually a dataframe
#option 1
df = pd.DataFrame({"Car Make":["Toyota","Ford"],"Car Colour":["Red","Blue"]})
df

In [ ]:
#what does this command do? why?
#df = pd.DataFrame({"Car Make":["Toyota","Ford"],"Car Colour":["Red","Blue","Yellow"]})
#Correct it!

In [ ]:
#create manually a dataframe
#option 2
df = pd.DataFrame({"Car Make":marks,"Car Colour":colours})
df

### 3.	Check its data types and its basic statistics

In [ ]:
ds.dtypes
pd.set_option("display.precision", 2)
ds.describe()
#Why descrive explors only Odometer and Doors?

#Note: "describe" works only in numeric values. How to change that?

### 4.	Show graphically the number of kilometres for each car mark

In [ ]:
ds['Make'].value_counts()

In [ ]:
# importing library to plot
import matplotlib.pyplot as plt
#or
#%matplotlib inline

#see
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html
#https://pythonguides.com/matplotlib-bar-chart-labels/

#option 1
ds.columns
ds['Make'].value_counts().plot(kind='bar',xlabel='Car Marks', ylabel='kilometres', title='Odometer',grid=True,figsize=(5,5))
plt.show()

#option 2
#auxChart = ds['Doors'].plot(kind='bar',xlabel='Car Marks', ylabel='kilometres', title='Odometer',legend=True,grid=True,figsize=(5,5))
#or
#auxChart.set(xlabel="Car Marks", ylabel="Kilometers")

### 5.	Check if there is null values

In [ ]:
#Check it
#option 1 - with info()
#ds.info()

#option 2 - with "describe()"
#ds.describe()

#option 3 - with "value" - show all existing values, including NaN
ds.values

#Answer: yes, there is! Price and Odometer have null values

### 6.	Correct the null values with default values

There are three type of null values (*Null/None/ Nan Values*)

In [ ]:
#see all null values
dsNulls = ds.isnull()
dsNulls

Replace "Colour" null values by default color ("White")\
(ATENTION: Is this th best approah?)

In [ ]:
#preserve original dataset
dfNulls = ds.copy()

In [ ]:
dfNulls['Colour'].fillna(value="White", inplace=True)
#Recomended
#dfNulls['Colour'] = dfNulls['Colour'].fillna(value="White")
dfNulls

### (7) -	Create a new feature corresponding to the cost of the car, but in Euros. Chek the actual dollars rate.

In [ ]:
#reset ds
#ds=ds.drop(columns=['C','B','PriceInt2','PriceInt'])
#ds=ds.drop(columns=['B'])
dsc=ds.copy()

#Note: the column datatype is "object"
#step 1: convert object  to string
dsc['B'] = dsc['Price'].astype("string")
#check
#print("B- " + dsc['B'])

#step 2: remove character '$'
dsc['C'] = dsc['B'].str.replace(r'\$', '', regex=True)
#or
#dsc['C'] = dsc['B'].replace('\$', "")
#check
#print("C-" + dsc['C'])

#step 3: change ',' by '.'
dsc['C'] = dsc['C'].str.replace(r'\,', '.', regex=True)
#check
#print("C-" + dsc['C'])

#or using only one regular expressio...try it!

#step 4: convert em euros: supose rate=0.95
try:
  #dsc['D']=pd.to_numeric(dsc['C'])
  dsc['PriceEuros']=pd.to_numeric(dsc['C'])*0.95
except Exception as e:
        print('Cannot convert string to float')
        print (e)
try:
  #delete temporary columns
  dsc= dsc.drop(columns=['B','C'])
except:
  print("Error")

In [ ]:
dsc

In [ ]:

dsc.info()

In [ ]:
#converting currency values
from re import sub
from decimal import Decimal

money = '$6,150,593.22'
value = Decimal(sub(r'[^\d.]', '', money))

In [ ]:
value

## 8.	Expand the dataset with more records.

See https://medium.com/analytics-vidhya/dummy-dataframes-5672216d636

### Overview

In [ ]:
#add new records (rows)

numberRecords=1000
colors=["Red","White","Blue","Yellow","Green","Black","Rose","Pink","Gray","Brown"]
marks=["Toyota","Ford","Fiat","Citroen","Skoda"]
dsDummy = pd.DataFrame({
                      "Make": np.random.choice(marks,size=numberRecords),  #size=len(ne wds)
                      "Odometer" : np.random.randint(low=1000, high=100000, size=numberRecords),
                      "Colour": np.random.choice(colors,size=numberRecords), #size=len(new ds)),
                      "Doors": np.random.choice(range(3,6), numberRecords, replace=True),
                      "Price": np.random.choice(np.random.uniform(size = numberRecords, low = 1000, high = 10000),size=numberRecords) #size=len(ds))
                      },
                     columns=ds.columns)

In [ ]:
dsDummy

In [ ]:
ds3=pd.concat([ds,dsDummy])

In [ ]:
ds3

In [ ]:
# What does this function?
import random

def generateNewValues(existing_values, number_new_values):
    base_values = ["V1", "V2", "V3", "V4", "V5"]
    prefix = ["A", "B", "C", "D"]
    new_values = set()

    while len(new_values) < number_new_values:
        # Combine a prefix with a base value
        v = f"{random.choice(prefix)} {random.choice(base_values)}"

        # Ensure the new value is not in the existing list
        if v not in existing_values:
            new_values.add(v)

    return list(new_values)

# Step 1: Extract existing colors
existing_values = ds['Colour'].dropna().unique().tolist()
#check it
#existing_values

#test it
new_values = generateNewValues(existing_values,10)
new_values

#-------------------------------------------------------------------------------------------------------
#Goal: Combines the existing values with the autonomously generated ones to form a more complete list.

#Try to explore this function to generate new colours with a classification prefix, like "Brigh Red"
# Suggestion:
# prefix = ["Bright", "Deep", "Soft", "Dark", "Light"]
# base_values = ["Red", "Blue", "Green", "Yellow", "Purple", "Orange", "Pink", "Cyan"]

Using **NumPy** and following existing features values:

In [ ]:
import numpy as np
import pandas as pd

# Step 1: Example dataset
data = pd.DataFrame({
    'feature1': [1.2, 3.4, 5.6, 7.8, 9.0],
    'feature2': [2.3, 4.5, 6.7, 8.9, 10.1],
    'feature3': [10, 20, 30, 40, 50]
})

# Step 2: Analyze the data (get mean and std for continuous variables)
# mean and std because we are dealing with numerical data
means = data.mean()

stds = data.std()

# Step 3: Generate synthetic data
# Assuming we want to generate synthetic data based on a normal distribution for each feature
qty_synth = 10  # Number of synthetic samples to generate

#"normal" - Draw random samples from a normal (Gaussian) distribution.
synthetic_data = np.random.normal(loc=means.values, scale=stds.values, size=(qty_synth, 3)) # 3 = data.shape[1]

# Convert the synthetic data to a DataFrame
synthetic_data_df = pd.DataFrame(synthetic_data, columns=data.columns)

print (synthetic_data_df)

In [ ]:
means

**And this new example?**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Step 1: Example dataset with numerical and categorical features
data = pd.DataFrame({
    'age': [23, 45, 34, 50, 29],
    'salary': [50000, 70000, 60000, 80000, 55000],
    'gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'department': ['HR', 'Engineering', 'HR', 'Engineering', 'Marketing']
})

# Step 2: Generate synthetic data for numerical columns
# Calculate means and stds for numerical columns
numerical_cols = ['age', 'salary']
means = data[numerical_cols].mean()
stds = data[numerical_cols].std()

# Number of synthetic samples to generate
qty_synth = 10

# Generate synthetic data for numerical features based on normal distribution
synthetic_numerical_data = np.random.normal(loc=means.values, scale=stds.values, size=(qty_synth, len(numerical_cols)))

# Convert synthetic numerical data into a DataFrame
synthetic_numerical_df = pd.DataFrame(synthetic_numerical_data, columns=numerical_cols)

# Step 3: Generate synthetic data for categorical columns
# For each categorical column, we calculate the frequencies (or median)
categorical_cols = ['gender', 'department']
synthetic_categorical_data = {}

for col in categorical_cols:
    # Get the frequency distribution for each categorical column
    category_frequencies = data[col].value_counts(normalize=True)

    # Sample synthetic data based on the frequencies
    synthetic_categorical_data[col] = np.random.choice(category_frequencies.index,
                                                       size=qty_synth,
                                                       p=category_frequencies.values) #p = probability=frequency

# Step 4: Combine the numerical and categorical synthetic data
synthetic_data = pd.DataFrame(synthetic_categorical_data)
synthetic_data = pd.concat([synthetic_numerical_df, synthetic_data], axis=1)

# Step 5: Display the synthetic dataset
print(synthetic_data)

In [ ]:
category_frequencies = data["gender"].value_counts(normalize=True)

In [ ]:
#to help understanding
category_frequencies.index

In [ ]:
#to help understanding
#see https://numpy.org/doc/2.1/reference/random/generated/numpy.random.choice.html
x = np.random.choice(category_frequencies.index,
                     size=qty_synth,
                     p=category_frequencies.values) #check remove "p"
x

## 9.	Export the resulting datatset to a new file, without indexes.

In [ ]:
ds3.to_csv(filePath+'Ex2newDataSet.csv')