# Masters' in Applied Artificial Intelligence
## Machine Learning Algorithms Course MLA)

Notebooks for MLA course

by [*lufer*](mailto:lufer@ipca.pt)

(2024)

---

# Part II - Datasets Manipulation (II)

This is the second notebook for datasets manipulation. Cleaning, Normalizing, Initializing are some of the required tasks during dataset preparation for training.

**Contents**:

1. **Data Binning**
2. **Categorical to Numerical**
3. **Dataset Manipulation**

## Environment preparation

### Importing necessary Libraries

In [ ]:
import pandas as pd
import numpy as np

Mounting Drive

In [ ]:

from google.colab import drive

# it will ask for your google drive credentiaals
drive.mount('/content/gDrive/', force_remount=True)

Mounted at /content/gDrive/

*Loading dataset*

In [ ]:
#global path variable
path="/content/gDrive/MyDrive/Colab Notebooks/MIA - ML - 2024-2025/Datasets/"
path

'/content/gDrive/MyDrive/Colab Notebooks/MIA - ML - 2024-2025/Datasets/'

In [ ]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = path+"nbaAll.csv"

#create a local file with remote csv data
response = requests.get(download_url)
response.raise_for_status()
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

nba = pd.read_csv(path+"nbaAll.csv")

Download ready.

In [ ]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN



---



---

##1 - Data Binning

 Grouping technique in data analysis that enables the transformation of continuous data into discrete intervals, providing a clearer picture of the underlying trends and distributions.

 1. Reduce complexity of columns values
 2. Merging columns
 3. Derivating columns
 4. Reduces Noise
 5. Facilitates Data Management:
 6. Handling Missing Data
 7. Eases Categorical Analysis
 8. Enhances Data Visualization
 9. Control Outliers
 10. Others


 Possibe disavantges:

 1. Loss of information
 2. Inconsistency Across Different Datasets
 3. Risk of Overfitting
 4. Others


 See:
 * [Binning](https://medium.com/@tubelwj/pandas-data-preprocessing-data-binning-40614ab13b54)
 * [What is Data Binning](https://www.deepchecks.com/glossary/data-binning/)

**Get the dataset**

In [ ]:
dataset = pd.read_csv(path+'credit_simple.csv', sep=';')
dataset.shape

(1000, 8)

In [ ]:
dataset

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim
...,...,...,...,...,...,...,...,...
995,1736.0,4,31,nenhum,29/06/2018,fem div/cas,mobilia/equipamento,bom
996,3857.0,4,40,nenhum,30/06/2018,masculino div/sep,carro usado,bom
997,804.0,4,38,nenhum,03/07/2018,masculino solteiro,radio/tv,bom
998,1845.0,4,23,nenhum,04/07/2019,masculino solteiro,radio/tv,ruim
999,4576.0,4,27,nenhum,05/07/2018,masculino solteiro,carro usado,bom

In [ ]:
dataset.dtypes

SALDO_ATUAL         float64
RESIDENCIADESDE       int64
IDADE                 int64
OUTROSPLANOSPGTO     object
DATA                 object
ESTADOCIVIL          object
PROPOSITO            object
CLASSE               object
dtype: object



---

**Preparing the dataset**

* Identify the dependent variable
* Isolate the feature "CLASSE"

In [ ]:
y = dataset['CLASSE']
X = dataset.iloc[:,:-1] #all raws, allcolumns from 0 to n-1

Analyse the distribution:

In [ ]:
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
Eletrodomésticos        12
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  12
qualificação             9
radio/tv               280
dtype: int64

The features "Eletrodomesticos" and "Qualificação" are poor represented. We can move their values for other feature. For instance, move all their values to feature "outros".

In [ ]:
X.loc[X['PROPOSITO']=='Eletrodomésticos','PROPOSITO'] = 'outros'
X.loc[X['PROPOSITO']=='qualificação','PROPOSITO'] = 'outros'
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  33
radio/tv               280
dtype: int64

In [ ]:
X['DATA']

0      01/01/2019
1      01/01/2020
2      02/01/2020
3      02/01/2019
4      03/01/2018
          ...
995    29/06/2018
996    30/06/2018
997    03/07/2018
998    04/07/2019
999    05/07/2018
Name: DATA, Length: 1000, dtype: object



---

DATA is text (object). We can parse it to create new columns (Day, Month, etc...)

1. Convert into date type
2. Get parts of it for new columns

In [ ]:
X['DATA'] = pd.to_datetime(X['DATA'], format='%d/%m/%Y')

In [ ]:
X['DATA']

0     2019-01-01
1     2020-01-01
2     2020-01-02
3     2019-01-02
4     2018-01-03
         ...
995   2018-06-29
996   2018-06-30
997   2018-07-03
998   2019-07-04
999   2018-07-05
Name: DATA, Length: 1000, dtype: datetime64[ns]

In [ ]:
X['ANO'] = X['DATA'].dt.year
X['MES'] = X['DATA'].dt.month
X['DIASEMANA'] = X['DATA'].dt.day_name()

In [ ]:
#Categorical
X['DIASEMANA']

0        Tuesday
1      Wednesday
2       Thursday
3      Wednesday
4      Wednesday
         ...
995       Friday
996     Saturday
997      Tuesday
998     Thursday
999     Thursday
Name: DIASEMANA, Length: 1000, dtype: object

##2 - Categorical to Numeric

###Label Encoding

Technique that is used to convert categorical columns into numerical ones so that they can be fitted by machine learning models which only take numerical data.

Convert text values (categorical) in numeric

In [ ]:
X['ESTADOCIVIL']

0      masculino solteiro
1             fem div/cas
2      masculino solteiro
3      masculino solteiro
4      masculino solteiro
              ...
995           fem div/cas
996     masculino div/sep
997    masculino solteiro
998    masculino solteiro
999    masculino solteiro
Name: ESTADOCIVIL, Length: 1000, dtype: object

In [ ]:
X['ESTADOCIVIL'].unique()

array(['masculino solteiro', 'fem div/cas', 'masculino div/sep',
       'masculino casado/viuvo', nan], dtype=object)

ESTADOCIVIL has four diferent values labels. The encoding goes from 0 to 4.

In [ ]:
X['PROPOSITO'].unique()

array(['radio/tv', 'educação', 'mobilia/equipamento', 'carro novo',
       'carro usado', 'negócios', 'outros', 'obras'], dtype=object)

PROPOSITO has eight diferent values labels. The encoding goes from 0 to 8.

In [ ]:
X['DIASEMANA'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Saturday', 'Sunday', 'Monday',
       'Friday'], dtype=object)

DIASEMANA has seven diferent values labels. The encoding goes from 0 to 7.

In [ ]:
# Import label encoder
from sklearn import preprocessing

labelencoder1 = preprocessing.LabelEncoder()

X['ESTADOCIVIL'] = labelencoder1.fit_transform(X['ESTADOCIVIL'])
X['PROPOSITO'] = labelencoder1.fit_transform(X['PROPOSITO'])
X['DIASEMANA'] = labelencoder1.fit_transform(X['DIASEMANA'])

In [ ]:
X.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,5
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,6
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,4
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,6
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,6

**ATENTION:**

Label encoding converts the categorical data into numerical ones, but it assigns a unique number(starting from 0) to each class of data. This may lead to the generation of priority issues during model training of data sets. A label with a high value may be considered to have high priority than a label having a lower value.

### Dummy Columns

Create dummy columns from the existing one using *get_dummies*

In [ ]:
outros = X['OUTROSPLANOSPGTO'].unique()
outros

array(['nenhum', 'banco', 'stores'], dtype=object)

In [ ]:
z = pd.get_dummies(X['OUTROSPLANOSPGTO'], prefix = 'OUTROS')

In [ ]:
z

     OUTROS_banco  OUTROS_nenhum  OUTROS_stores
0           False           True          False
1           False           True          False
2           False           True          False
3           False           True          False
4           False           True          False
..            ...            ...            ...
995         False           True          False
996         False           True          False
997         False           True          False
998         False           True          False
999         False           True          False

[1000 rows x 3 columns]

In [ ]:
X

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,5
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,6
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,4
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,6
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,6
...,...,...,...,...,...,...,...,...,...,...
995,1736.0,4,31,nenhum,2018-06-29,0,3,2018,6,0
996,3857.0,4,40,nenhum,2018-06-30,2,1,2018,6,2
997,804.0,4,38,nenhum,2018-07-03,3,7,2018,7,5
998,1845.0,4,23,nenhum,2019-07-04,3,7,2019,7,4
999,4576.0,4,27,nenhum,2018-07-05,3,1,2018,7,4

Concat both dataframes

In [ ]:
newdf = pd.concat([X,z], axis='columns')
newdf.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,OUTROS_banco,OUTROS_nenhum,OUTROS_stores
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,5,False,True,False
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,6,False,True,False
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,4,False,True,False
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,6,False,True,False
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,6,False,True,False

Delete original columns

In [ ]:
newdf.columns

Index(['SALDO_ATUAL', 'RESIDENCIADESDE', 'IDADE', 'OUTROSPLANOSPGTO', 'DATA',
       'ESTADOCIVIL', 'PROPOSITO', 'ANO', 'MES', 'DIASEMANA', 'OUTROS_banco',
       'OUTROS_nenhum', 'OUTROS_stores'],
      dtype='object')

In [ ]:
newdf=newdf.drop(['OUTROSPLANOSPGTO'], axis='columns')
newdf.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,OUTROS_banco,OUTROS_nenhum,OUTROS_stores
0,1169.0,4,67,2019-01-01,3,7,2019,1,5,False,True,False
1,5951.0,2,22,2020-01-01,0,7,2020,1,6,False,True,False
2,2096.0,3,49,2020-01-02,3,2,2020,1,4,False,True,False
3,7882.0,4,45,2019-01-02,3,3,2019,1,6,False,True,False
4,4870.0,4,53,2018-01-03,3,0,2018,1,6,False,True,False

Later on next pupyte notebboks, other methods for ctegorical to numerical convertion wil ne explored

##3 - Datasets Manipulation

### Spliting Datasets

***Slicing Data (essential)***

In [ ]:
a = [7, 2, 3, 7, 5, 6, 0, 1]

the instruction *[start:stop]* includes the value in the position *start*, but not in the position *stop*. Both are optional.

Part of the data

In [ ]:
a[1:5]

[2, 3, 7, 5]

In [ ]:
a[:5]

[7, 2, 3, 7, 5]

In [ ]:
a[3:]

[7, 5, 6, 0, 1]

Start from the end of the data

In [ ]:
a[-4:]

[5, 6, 0, 1]

In [ ]:
a[-6:-2]

[3, 7, 5, 6]

*Values substituition*

In [ ]:
a[3:4] = [6, 3]
a

[7, 2, 3, 6, 3, 5, 6, 0, 1]

*Change the step using [start:stop:step]*

In [ ]:
a[::2]

[7, 3, 3, 6, 1]

*Special case: Inverting a sequence*

In [ ]:
a[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]



---


**Considering existing Datasets**

*Spliting the Dataset by Row*

In [ ]:
len(nba)

126314

*Splitting  Dataframe by groups*

Group the data by column value *year_id*. The newly formed dataframe consists of grouped data with *year_id* = 1947.

In [ ]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [ ]:
# splitting dataframe by groups
# grouping by year
grouped = nba.groupby(nba.year_id)
#get the group of 1947
df_new=grouped.get_group(1947)
df_new

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,348,194704190CHS,NBA,1,1947,4/19/1947,68,1,PHW,Warriors,...,55.649139,CHS,Stags,72,1416.6769,1409.4009,A,W,0.389797,NaN
696,349,194704200CHS,NBA,1,1947,4/20/1947,69,1,PHW,Warriors,...,55.359722,CHS,Stags,74,1409.4009,1412.5547,A,L,0.409896,NaN
697,349,194704200CHS,NBA,0,1947,4/20/1947,71,1,CHS,Stags,...,52.490616,PHW,Warriors,73,1446.0986,1442.9448,H,W,0.590104,NaN
698,350,194704220GSW,NBA,1,1947,4/22/1947,72,1,CHS,Stags,...,52.176041,PHW,Warriors,83,1442.9448,1446.1919,A,L,0.320694,NaN
699,350,194704220GSW,NBA,0,1947,4/22/1947,70,1,PHW,Warriors,...,55.657673,CHS,Stags,80,1412.5547,1409.3076,H,W,0.679306,NaN

In [ ]:
df_new.count()

gameorder        700
game_id          700
lg_id            700
_iscopy          700
year_id          700
date_game        700
seasongame       700
is_playoffs      700
team_id          700
fran_id          700
pts              700
elo_i            700
elo_n            700
win_equiv        700
opp_id           700
opp_fran         700
opp_pts          700
opp_elo_i        700
opp_elo_n        700
game_location    700
game_result      700
forecast         700
notes              0
dtype: int64

*Splitting Pandas Dataframe by sized chunks*

Randon 60%

In [ ]:
# splitting dataframe in a particular size
df_split = nba.sample(frac=.6)
df_split.reset_index()
#df_split
len(df_split)

75788

Split  dataframe in different sets

In [ ]:
#Shuffle the whole dataset first
ds3 = nba.copy()
ds3.sample(frac=1, random_state=42)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
37090,18546,197702020NYN,NBA,0,1977,2/2/1977,48,0,NYN,Nets,...,26.130209,BOS,Celtics,89,1454.9109,1444.0807,H,W,0.483096,NaN
7984,3993,195712030GSW,NBA,0,1958,12/3/1957,17,0,PHW,Warriors,...,39.511757,SYR,Sixers,119,1532.4493,1557.2676,H,L,0.634248,at New York NY
74114,37058,199412030SEA,NBA,0,1995,12/3/1994,15,0,SEA,Thunder,...,55.135208,MIL,Bucks,108,1357.6219,1356.7598,H,W,0.899416,NaN
94323,47162,200302180ORL,NBA,1,2003,2/18/2003,55,0,NOH,Pelicans,...,41.482147,ORL,Magic,99,1455.0071,1460.9988,A,L,0.439981,NaN
37000,18501,197701230WSB,NBA,0,1977,1/23/1977,43,0,WSB,Wizards,...,45.782440,DET,Pistons,108,1518.8035,1512.1829,H,W,0.669820,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119879,59940,201302060OKC,NBA,0,2013,2/6/2013,49,0,OKC,Thunder,...,60.441074,GSW,Warriors,98,1551.1230,1545.6824,H,W,0.807499,NaN
103694,51848,200612070NJN,NBA,1,2007,12/7/2006,17,0,PHO,Suns,...,52.250179,NJN,Nets,157,1479.3242,1473.5780,A,W,0.536483,NaN
860,431,194801060BLB,NBA,1,1948,1/6/1948,21,0,PRO,Steamrollers,...,24.548496,BLB,Baltimore,82,1433.5667,1437.2885,A,L,0.151443,NaN
15795,7898,196712130DET,NBA,1,1968,12/13/1967,31,0,NYK,Knicks,...,35.066292,DET,Pistons,129,1430.0306,1436.9717,A,L,0.327986,NaN
121958,60980,201312300DET,NBA,1,2014,12/30/2013,28,0,WAS,Wizards,...,39.550888,DET,Pistons,99,1427.9385,1418.0118,A,W,0.432347,NaN

In [ ]:
ds3

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

Split in two dataframes

In [ ]:

list_of_dataframes = np.array_split(ds3, 2)
print("First:")
list_of_dataframes[0]
print('-'*100)
print("Second:")
list_of_dataframes[1]

First:
----------------------------------------------------------------------------------------------------
Second:

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
63157,31579,199002060SAS,NBA,0,1990,2/6/1990,45,0,SAS,Spurs,...,46.433861,ATL,Hawks,94,1477.7819,1471.8431,H,W,0.698796,NaN
63158,31580,199002070BOS,NBA,1,1990,2/7/1990,44,0,CHH,Pelicans,...,18.800606,BOS,Celtics,146,1526.7374,1529.3101,A,L,0.099172,NaN
63159,31580,199002070BOS,NBA,0,1990,2/7/1990,46,0,BOS,Celtics,...,46.371326,CHH,Pelicans,125,1243.4368,1240.8641,H,W,0.900828,NaN
63160,31581,199002070LAL,NBA,1,1990,2/7/1990,46,0,CHI,Bulls,...,49.018215,LAL,Lakers,121,1673.3429,1679.2725,A,L,0.227701,NaN
63161,31581,199002070LAL,NBA,0,1990,2/7/1990,46,0,LAL,Lakers,...,60.440876,CHI,Bulls,103,1561.1747,1555.2451,H,W,0.772299,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [ ]:
# spliting dataframe by row index
# last 1000 rows
df1 = nba.iloc[:1000,:]
# first 1000 rows
df2 = nba.iloc[1000:,:]
print(df1)
print("---------------------------")
print(df2)

     gameorder       game_id lg_id  _iscopy  year_id  date_game  seasongame  \
0            1  194611010TRH   NBA        0     1947  11/1/1946           1
1            1  194611010TRH   NBA        1     1947  11/1/1946           1
2            2  194611020CHS   NBA        0     1947  11/2/1946           1
3            2  194611020CHS   NBA        1     1947  11/2/1946           2
4            3  194611020DTF   NBA        0     1947  11/2/1946           1
..         ...           ...   ...      ...      ...        ...         ...
995        498  194802190GSW   NBA        1     1948  2/19/1948          36
996        499  194802190STB   NBA        1     1948  2/19/1948          39
997        499  194802190STB   NBA        0     1948  2/19/1948          36
998        500  194802210PRO   NBA        1     1948  2/21/1948          35
999        500  194802210PRO   NBA        0     1948  2/21/1948          40

     is_playoffs team_id       fran_id  ...  win_equiv  opp_id      opp_fran  \
0              0     TRH       Huskies  ...  40.294830     NYK        Knicks
1              0     NYK        Knicks  ...  41.705170     TRH       Huskies
2              0     CHS         Stags  ...  42.012257     NYK        Knicks
3              0     NYK        Knicks  ...  40.692783     CHS         Stags
4              0     DTF       Falcons  ...  38.864048     WSC      Capitols
..           ...     ...           ...  ...        ...     ...           ...
995            0     WSC      Capitols  ...  49.107174     PHW      Warriors
996            0     PRO  Steamrollers  ...  23.408215     STB       Bombers
997            0     STB       Bombers  ...  46.091694     PRO  Steamrollers
998            0     CHS         Stags  ...  47.143471     PRO  Steamrollers
999            0     PRO  Steamrollers  ...  22.625757     CHS         Stags

     opp_pts  opp_elo_i  opp_elo_n  game_location  game_result  forecast notes
0         68  1300.0000  1306.7233              H            L  0.640065   NaN
1         66  1300.0000  1293.2767              A            W  0.359935   NaN
2         47  1306.7233  1297.0712              H            W  0.631101   NaN
3         63  1300.0000  1309.6521              A            L  0.368899   NaN
4         50  1300.0000  1320.3811              H            L  0.640065   NaN
..       ...        ...        ...            ...          ...       ...   ...
995       84  1395.3289  1404.0222              A            L  0.483214   NaN
996       78  1443.3657  1445.4397              A            L  0.134140   NaN
997       69  1219.4104  1217.3364              H            W  0.865860   NaN
998       73  1217.3364  1208.0995              A            W  0.677668   NaN
999       92  1446.4221  1455.6591              H            L  0.322332   NaN

[1000 rows x 23 columns]
---------------------------
        gameorder       game_id lg_id  _iscopy  year_id  date_game  \
1000          501  194802210WSC   NBA        0     1948  2/21/1948
1001          501  194802210WSC   NBA        1     1948  2/21/1948
1002          502  194802220BOS   NBA        1     1948  2/22/1948
1003          502  194802220BOS   NBA        0     1948  2/22/1948
1004          503  194802220STB   NBA        1     1948  2/22/1948
...           ...           ...   ...      ...      ...        ...
126309      63155  201506110CLE   NBA        0     2015  6/11/2015
126310      63156  201506140GSW   NBA        0     2015  6/14/2015
126311      63156  201506140GSW   NBA        1     2015  6/14/2015
126312      63157  201506170CLE   NBA        0     2015  6/16/2015
126313      63157  201506170CLE   NBA        1     2015  6/16/2015

        seasongame  is_playoffs team_id    fran_id  ...  win_equiv  opp_id  \
1000            37            0     WSC   Capitols  ...  49.868153     BLB
1001            38            0     BLB  Baltimore  ...  46.638355     WSC
1002            36            0     CHS      Stags  ...  48.321709     BOS
1003            39            0     BOS    Celtics  ...  26.931097     CHS
1004            41            0     NYK     Knicks  ...  46.706791     STB
...            ...          ...     ...        ...  ...        ...     ...
126309         100            1     CLE  Cavaliers  ...  60.309792     GSW
126310         102            1     GSW   Warriors  ...  68.013329     CLE
126311         101            1     CLE  Cavaliers  ...  60.010067     GSW
126312         102            1     CLE  Cavaliers  ...  59.290245     GSW
126313         103            1     GSW   Warriors  ...  68.519516     CLE

         opp_fran  opp_pts  opp_elo_i  opp_elo_n  game_location  game_result  \
1000    Baltimore       72  1458.3218  1450.7421              H            W
1001     Capitols       85  1474.9669  1482.5466              A            L
1002      Celtics       77  1268.3983  1256.8536              A            W
1003        Stags       97  1455.6591  1467.2037              H            L
1004      Bombers       80  1445.4397  1452.3027              A            L
...           ...      ...        ...        ...            ...          ...
126309   Warriors      103  1790.9591  1809.9791              H            L
126310  Cavaliers       91  1704.3949  1700.7391              H            W
126311   Warriors      104  1809.9791  1813.6349              A            L
126312   Warriors      105  1813.6349  1822.2881              H            L
126313  Cavaliers       97  1700.7391  1692.0859              A            W

        forecast notes
1000    0.661831   NaN
1001    0.338169   NaN
1002    0.623003   NaN
1003    0.376997   NaN
1004    0.377121   NaN
...          ...   ...
126309  0.546572   NaN
126310  0.765565   NaN
126311  0.234435   NaN
126312  0.481450   NaN
126313  0.518550   NaN

[125314 rows x 23 columns]

*Spliting by Columns (Features)*

In [ ]:
# Split the DataFrame using iloc[] by columns
# first 3 columns
df1 = nba.iloc[:,:3]
# last 3 columns
df2 = nba.iloc[:,3:]
print(df1)
print("---------------------------")
print(df2)

        gameorder       game_id lg_id
0               1  194611010TRH   NBA
1               1  194611010TRH   NBA
2               2  194611020CHS   NBA
3               2  194611020CHS   NBA
4               3  194611020DTF   NBA
...           ...           ...   ...
126309      63155  201506110CLE   NBA
126310      63156  201506140GSW   NBA
126311      63156  201506140GSW   NBA
126312      63157  201506170CLE   NBA
126313      63157  201506170CLE   NBA

[126314 rows x 3 columns]
---------------------------
        _iscopy  year_id  date_game  seasongame  is_playoffs team_id  \
0             0     1947  11/1/1946           1            0     TRH
1             1     1947  11/1/1946           1            0     NYK
2             0     1947  11/2/1946           1            0     CHS
3             1     1947  11/2/1946           2            0     NYK
4             0     1947  11/2/1946           1            0     DTF
...         ...      ...        ...         ...          ...     ...
126309        0     2015  6/11/2015         100            1     CLE
126310        0     2015  6/14/2015         102            1     GSW
126311        1     2015  6/14/2015         101            1     CLE
126312        0     2015  6/16/2015         102            1     CLE
126313        1     2015  6/16/2015         103            1     GSW

          fran_id  pts      elo_i      elo_n  win_equiv opp_id   opp_fran  \
0         Huskies   66  1300.0000  1293.2767  40.294830    NYK     Knicks
1          Knicks   68  1300.0000  1306.7233  41.705170    TRH    Huskies
2           Stags   63  1300.0000  1309.6521  42.012257    NYK     Knicks
3          Knicks   47  1306.7233  1297.0712  40.692783    CHS      Stags
4         Falcons   33  1300.0000  1279.6189  38.864048    WSC   Capitols
...           ...  ...        ...        ...        ...    ...        ...
126309  Cavaliers   82  1723.4149  1704.3949  60.309792    GSW   Warriors
126310   Warriors  104  1809.9791  1813.6349  68.013329    CLE  Cavaliers
126311  Cavaliers   91  1704.3949  1700.7391  60.010067    GSW   Warriors
126312  Cavaliers   97  1700.7391  1692.0859  59.290245    GSW   Warriors
126313   Warriors  105  1813.6349  1822.2881  68.519516    CLE  Cavaliers

        opp_pts  opp_elo_i  opp_elo_n game_location game_result  forecast  \
0            68  1300.0000  1306.7233             H           L  0.640065
1            66  1300.0000  1293.2767             A           W  0.359935
2            47  1306.7233  1297.0712             H           W  0.631101
3            63  1300.0000  1309.6521             A           L  0.368899
4            50  1300.0000  1320.3811             H           L  0.640065
...         ...        ...        ...           ...         ...       ...
126309      103  1790.9591  1809.9791             H           L  0.546572
126310       91  1704.3949  1700.7391             H           W  0.765565
126311      104  1809.9791  1813.6349             A           L  0.234435
126312      105  1813.6349  1822.2881             H           L  0.481450
126313       97  1700.7391  1692.0859             A           W  0.518550

       notes
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
126309   NaN
126310   NaN
126311   NaN
126312   NaN
126313   NaN

[126314 rows x 20 columns]

###Join datasets

### Generate a new Dataset file
After the dataset analysis it could be necessary to generate a new dataset.

In [ ]:
import os
#print(os.getcwd())

f=nba.to_csv(path+'newNBA.csv', sep=';', index=False)

/content

### Exporting only a few features

In [ ]:
#or
nba.to_csv(path+'newNbaII.csv',columns=['gameorder','game_id'])

End!